<div>
  <!-- Apresentação das aplicações financeiras -->
 <div>
   <h3>{{ nomeDaAplicacao }}</h3>
   <table class="table table-bordered">
     <tr>
       <th>Descrição</th>
       <th>Observações</th>
       <th>Ações</th>
       <th>Valor</th>
     </tr>
     <tr *ngFor="let item of aplicacoesFinanceiras;">
       <td>{{item.descricao}}</td>
       <td>{{item.observacao}}</td> 
       <td>
         <!-- <span (click)="editItem(item)" class="glyphicon glyphicon-pencil" aria-hidden="true"></span> -->
         <span (click)="removeInvestment(item)" class="glyphicon glyphicon-trash" aria-hidden="true"></span> 
       </td>
       <td>{{item.valor | currency:'BRL':true}}</td>
     </tr>
     <tr>
       <td colspan="3">Total</td>
       <td>{{totalValue() | currency:'BRL':true}}</td>
     </tr>
   </table>
 </div>

 <!-- Criação de uma nova aplicacao -->
 <div>
   <h3>Novo {{ nomeDaAplicacao }}</h3>
   <form class="form-inline" (ngSubmit)="addInvestment()">
     <div class="form-group">
       <input type="text" class="form-control" id="descricao" placeholder="Descrição" required name="descricao"
         [(ngModel)]="novoItem.descricao">
     </div>
     <div class="form-group">
       <input type="text" class="form-control" id="observacoes" placeholder="Observações" name="observacoes"
         [(ngModel)]="novoItem.observacao">
     </div>
     <button class="btn btn-success" type="submit">Criar</button>
   </form>
 </div>
</div>

<!-- Realização de operações -->
 <div>
   <h3>Realizar operação</h3>
   <form class="form-inline" #f="ngForm" (ngSubmit)="operacaoEmConta()">
     <div class="form-group">
        <select class="form-control" id="nomeContaPoupanca" name="conta" [(ngModel)]="operacao.item_position" required>
        <option *ngFor="let item of aplicacoesFinanceiras" value={{aplicacoesFinanceiras.indexOf(item)}}>
           {{item.descricao}}
        </option>
       </select>
     </div>
     <div class="form-group">
       <select class="form-control" id="tipo"
               name="tipo" [(ngModel)]="operacao.type" required>
         <option value="0">Deposito</option>
         <option value="1">Resgate</option>
       </select>
     </div>
     <div class="form-group">
       <div class="input-group">
         <div class="input-group-addon">R$</div>
         <input type="number" class="form-control" name="valor" placeholder="Valor" [(ngModel)]="operacao.value">
       </div>
     </div>
     <button type="submit" class="btn btn-success">Transferir</button>
   </form>
 </div>
