<div>
  <h3>Poupança</h3>
  <table class="table table-bordered">
    <tr>
      <th>Descrição</th>
      <th>Observações</th>
      <th>Valor</th>
    </tr>
    <tr *ngFor="let item of itensPoupanca;">
      <td>{{item.descricao}}</td>
      <td>{{item.observacao}}</td>
      <td>{{item.valor | currency:'BRL':true}}</td>
    </tr>
    <tr>
      <td colspan="2">Total</td>
      <td>{{valorTotal() | currency:'BRL':true}}</td>
    </tr>
  </table>
</div>
<form class="form-inline" #f="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <select class="form-control" id="nomeContaPoupanca"
            name="conta" [(ngModel)]="operacao[0]" required>
      <option *ngFor="let item of itensPoupanca" value={{itensPoupanca.indexOf(item)}}>
        {{item.descricao}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <select class="form-control" id="tipo"
            name="tipo" [(ngModel)]="operacao[1]" required>
      <option value="0">Deposito</option>
      <option value="1">Resgate</option>
    </select>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">R$</div>
      <input type="number" class="form-control" name="valor" placeholder="Valor" [(ngModel)]="operacao[2]">
    </div>
  </div>
  <button type="submit" class="btn btn-success">Transferir</button>
</form>
