<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div id="navbar" class="navbar-collapse collapse">
      <a class="navbar-brand">Gerenciador Financeiro</a>
      <ul class="nav navbar-nav">
        <li><a routerLink="/lancamentos">Lançamentos</a></li>
        <li><a routerLink="/cartao-credito">Cartão</a></li>
        <li><a routerLink="/poupanca">Poupança</a></li>
        <li><a routerLink="/investimentos">Investimentos</a></li>
        <li><a routerLink="/emprestado">Emprestado</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a *ngIf="!isLogged" routerLink="/signin" >Entrar</a>
          <a *ngIf="isLogged" (click)="authService.signOut()">Sair</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="principal_element" class="container">
  <router-outlet></router-outlet>
</div>
